xsd/SB_Ceny.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="S5Data">
    <xs:complexType>
      <xs:all>
        <xs:element name="CenikList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cenik" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="Banka_ID" type="guid" />
                    <xs:element name="Dodavatel_ID" type="guid" />
                    <xs:element name="DruhKurzu" type="enum_DruhKurzu" minOccurs="0" />
                    <xs:element name="Kod" type="string_10" />
                    <xs:element name="Mena_ID" type="guid" />
                    <xs:element name="Nazev" type="emptiable_string_50" minOccurs="0" />
                    <xs:element name="Neaktivni" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="PlatnostDo" type="dateTime_DateMax" minOccurs="0" />
                    <xs:element name="PlatnostOd" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="Poznamka" type="emptiable_string_unbounded" minOccurs="0" />
                    <xs:element name="Stat_ID" type="guid" />
                    <xs:element name="SynchronizaceCen" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="TypCeniku" type="enum_TypCeniku" minOccurs="0" />
                    <xs:element name="VychoziSklad_ID" type="guid" />
                    <xs:element name="ZdrojCenik_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="ZdrojSklad_ID" type="guid" />
                    <xs:element name="ZdrojSkupinaCeniku_ID" type="guid" />
                    <xs:element name="ZdrojSkupinaKatalogu_ID" type="guid" />
                    <xs:element name="ZdrojSkupinaSkladu_ID" type="guid" />
                    <xs:element name="NastaveniZdroje" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="PouzeNevariantniPolozky" type="emptiable_bool" minOccurs="0" />
                          <xs:element name="TypZdroje" type="enum_ZdrojStrukturyCeniku" minOccurs="0" />
                          <xs:element name="Cenik" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_10" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Cenik" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Sklad" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Sklad" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SkupinaCeniku" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="PolozkaCeniku" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SkupinaKatalogu" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Artikl" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SkupinaSkladu" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Zasoba" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Banka" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Banka" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Dodavatel" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Firma" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Mena" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="Mena" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Stat" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="Stat" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="VychoziSklad" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Sklad" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="ObjectName" fixed="Cenik" />
                  <xs:attribute name="ObjectType" fixed="Object" />
                  <xs:attribute name="ID" type="guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PolozkaCenikuList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PolozkaCeniku" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="Artikl_ID" type="guid" />
                    <xs:element name="BudouciCena" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="CanGetDataFromGroup" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Cena" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="CenaDual" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="Cenik_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="DruhSazby" type="enum_DruhSazbyDPH" minOccurs="0" />
                    <xs:element name="IDokladPriceListItemsExported" type="enum_StavExportuIDoklad" minOccurs="0" />
                    <xs:element name="Kod" type="string_60" />
                    <xs:element name="MnozstevniSleva_ID" type="guid" />
                    <xs:element name="Nazev" type="emptiable_string_100" minOccurs="0" />
                    <xs:element name="NepodlehatSleveDokladu" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="PovahaSazbyDPH_ID" type="guid" />
                    <xs:element name="Poznamka" type="emptiable_string_unbounded" minOccurs="0" />
                    <xs:element name="SazbaDPHVstupProExport_ID" type="guid" />
                    <xs:element name="SazbaDPHVystupProExport_ID" type="guid" />
                    <xs:element name="Sklad_ID" type="guid" />
                    <xs:element name="Source_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="TypCeny" type="enum_TypCenyPolozkyCeniku" minOccurs="0" />
                    <xs:element name="VlastniDruhSazby" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="VlastniKod" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="VlastniNazev" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="VychoziCenik_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="VychoziHladina_ID" type="guid" />
                    <xs:element name="VychoziSklad_ID" type="guid" />
                    <xs:element name="VypocetBudouciCeny" type="enum_ZpusobVypoctuBudouciCeny" minOccurs="0" />
                    <xs:element name="Zaokrouhleni_ID" type="guid" />
                    <xs:element name="ZmenaVMene" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="ZmenaVProcentech" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="VychoziCena" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Cena" type="emptiable_decimal_4" minOccurs="0" />
                          <xs:element name="TypCeny" type="enum_TypVychoziCeny" minOccurs="0" />
                          <xs:element name="Cenik" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_10" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Cenik" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Hladina" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="CenovaHladina" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Sklad" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Sklad" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="VypocetCeny" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="VyseZmeny" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZpusobVypoctu" type="enum_ZpusobVypoctuCeny" minOccurs="0" />
                          <xs:element name="Zaokrouhleni" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Zaokrouhleni" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Artikl" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Artikl" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Cenik" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                          <xs:element name="Kod" type="string_10" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Cenik" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MnozstevniSleva" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="MnozstevniSleva" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PolozkyCenikuIDoklad" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="IDokladPolozkaCeniku" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="IDokladAgendaID" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="iDokladPriceListItemsID" type="emptiable_integer" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="IDokladPolozkaCeniku" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="IDokladPolozkaCeniku" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PovahaSazbyDPH" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="PovahaSazbyDPH" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SazbaDPHVstupProExport" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="SazbaDPH" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SazbaDPHVystupProExport" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="SazbaDPH" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SeznamHladin" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PolozkaCenikuHladina" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="AutoRow_ID" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="Cena" type="emptiable_decimal_4" minOccurs="0" />
                                <xs:element name="CenovaHladina_ID" type="guid" />
                                <xs:element name="MnozstevniSleva_ID" type="guid" />
                                <xs:element name="TypCeny" type="enum_TypCenyPolozkyCeniku" minOccurs="0" />
                                <xs:element name="VychoziCenik_ID" type="emptiable_guid" minOccurs="0" />
                                <xs:element name="VychoziHladina_ID" type="guid" />
                                <xs:element name="VychoziSklad_ID" type="guid" />
                                <xs:element name="Zaokrouhleni_ID" type="guid" />
                                <xs:element name="VychoziCena" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Cena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="TypCeny" type="enum_TypVychoziCeny" minOccurs="0" />
                                      <xs:element name="Cenik" minOccurs="0">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="Group" type="group" minOccurs="0" />
                                            <xs:element name="Kod" type="string_10" />
                                          </xs:all>
                                          <xs:attribute name="ObjectName" fixed="Cenik" />
                                          <xs:attribute name="ObjectType" fixed="Object" />
                                          <xs:attribute name="ID" type="guid" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Hladina" minOccurs="0">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="Group" type="group" minOccurs="0" />
                                          </xs:all>
                                          <xs:attribute name="ObjectName" fixed="CenovaHladina" />
                                          <xs:attribute name="ObjectType" fixed="Object" />
                                          <xs:attribute name="ID" type="guid" />
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Sklad" minOccurs="0">
                                        <xs:complexType>
                                          <xs:all>
                                            <xs:element name="Group" type="group" minOccurs="0" />
                                          </xs:all>
                                          <xs:attribute name="ObjectName" fixed="Sklad" />
                                          <xs:attribute name="ObjectType" fixed="Object" />
                                          <xs:attribute name="ID" type="guid" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="VypocetCeny" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="VyseZmeny" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="ZpusobVypoctu" type="enum_ZpusobVypoctuCeny" minOccurs="0" />
                                      <xs:element name="Zaokrouhleni" minOccurs="0">
                                        <xs:complexType>
                                          <xs:attribute name="ObjectName" fixed="Zaokrouhleni" />
                                          <xs:attribute name="ObjectType" fixed="Object" />
                                          <xs:attribute name="ID" type="guid" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="CenovaHladina" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Group" type="group" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="ObjectName" fixed="CenovaHladina" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="MnozstevniSleva" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Group" type="group" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="ObjectName" fixed="MnozstevniSleva" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="PolozkaCenikuHladina" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="PolozkaCenikuHladina" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sklad" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Sklad" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="ObjectName" fixed="PolozkaCeniku" />
                  <xs:attribute name="ObjectType" fixed="Object" />
                  <xs:attribute name="ID" type="guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ZasobaList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Zasoba" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="AktualniStav_ID" type="guid" />
                    <xs:element name="Artikl_ID" type="guid" />
                    <xs:element name="CanGetDataFromGroup" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="DruhArtiklu_ID" type="guid" />
                    <xs:element name="DruhKonta_ID" type="guid" />
                    <xs:element name="HistorickaCena" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="Jednotka_ID" type="guid" />
                    <xs:element name="Kod" type="emptiable_string_60" minOccurs="0" />
                    <xs:element name="Nazev" type="emptiable_string_100" minOccurs="0" />
                    <xs:element name="Objednano" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="PosledniNakup" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="PosledniProdej" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="RadaObdobi_ID" type="guid" />
                    <xs:element name="Rezervovano" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="Sklad_ID" type="guid" />
                    <xs:element name="SkladovaPozice_ID" type="guid" />
                    <xs:element name="Source_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="TypKonta" type="enum_TypUctu" minOccurs="0" />
                    <xs:element name="TypZmenyPohybu" type="enum_TypZmenyPohybu" minOccurs="0" />
                    <xs:element name="ZasobaObratova" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="ZasobaPojistna" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="NastaveniZasoby" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="NastaveniNedostatecneMnozstviKVyrizeni" type="enum_NedostatecneMnozstviKVyrizeni" minOccurs="0" />
                          <xs:element name="PoklesPodPojistnouZasobu" type="enum_TypKontroly" minOccurs="0" />
                          <xs:element name="PrekroceniObratoveZasoby" type="enum_TypKontroly" minOccurs="0" />
                          <xs:element name="PridaniPolozkySDetailem" type="enum_PridaniPolozkySDetailem" minOccurs="0" />
                          <xs:element name="VyberDodavky" type="enum_VyberDodavky" minOccurs="0" />
                          <xs:element name="VydejDoMinusu" type="enum_VydejDoMinusu" minOccurs="0" />
                          <xs:element name="VydejMnozstviKDispozici" type="enum_VydejDoMinusu" minOccurs="0" />
                          <xs:element name="ZpusobOcenovani" type="enum_ZpusobOcenovaniZasob" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AktualniStav" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="StavZasoby" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Artikl" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Artikl" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Cinnosti" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ArtiklCinnost" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Cinnost_ID" type="guid" />
                                <xs:element name="Poradi" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="Cinnost" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Cinnost" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="ArtiklCinnost" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="ArtiklCinnost" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Detaily" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ZasobaDetail" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="ZasobaDetail" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="ZasobaDetail" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhArtiklu" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhArtiklu" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhKonta" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhKonta" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Jednotka" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Jednotka" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Pohyby" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PohybZasoby" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="PohybZasoby" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="PohybZasoby" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RadaObdobi" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="RadaObdobi" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sklad" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Sklad" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SkladovaPozice" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="SkladovaPozice" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Stavy" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StavZasoby" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Konto_ID" type="guid" />
                                <xs:element name="Obdobi_ID" type="guid" />
                                <xs:element name="Odchylka" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Soucet" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="UzaverkaObdobi_ID" type="guid" />
                                <xs:element name="Obrat" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Pocatek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Prirustek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Ubytek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Zustatek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Konto" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Konto" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Obdobi" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Obdobi" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="UzaverkaObdobi" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="UzaverkaObdobi" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="StavZasoby" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="StavZasoby" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="ObjectName" fixed="Zasoba" />
                  <xs:attribute name="ObjectType" fixed="Object" />
                  <xs:attribute name="ID" type="guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="bool">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_DateMax">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T00:00:00" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_DateMin">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T00:00:00" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_2">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_4">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emptiable_bool">
    <xs:union memberTypes="bool empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_2">
    <xs:union memberTypes="decimal_2 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_4">
    <xs:union memberTypes="decimal_4 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_guid">
    <xs:union memberTypes="guid empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_integer">
    <xs:union memberTypes="xs:integer empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_100">
    <xs:union memberTypes="string_100 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_50">
    <xs:union memberTypes="string_50 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_60">
    <xs:union memberTypes="string_60 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_unbounded">
    <xs:union memberTypes="string_unbounded empty" />
  </xs:simpleType>
  <xs:simpleType name="empty">
    <xs:restriction base="xs:string">
      <xs:maxLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_DruhKurzu">
    <xs:simpleContent>
      <xs:extension base="enum_DruhKurzu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PevnyKurz" />
              <xs:enumeration value="Fixing" />
              <xs:enumeration value="DevizyStred" />
              <xs:enumeration value="DevizyNakup" />
              <xs:enumeration value="DevizyProdej" />
              <xs:enumeration value="ValutyStred" />
              <xs:enumeration value="ValutyNakup" />
              <xs:enumeration value="ValutyProdej" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_DruhKurzu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
      <xs:enumeration value="7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_DruhSazbyDPH">
    <xs:simpleContent>
      <xs:extension base="enum_DruhSazbyDPH_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Snizena" />
              <xs:enumeration value="Zakladni" />
              <xs:enumeration value="Nulova" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_DruhSazbyDPH_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_NedostatecneMnozstviKVyrizeni">
    <xs:simpleContent>
      <xs:extension base="enum_NedostatecneMnozstviKVyrizeni_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PonechatBezeZmeny" />
              <xs:enumeration value="SnizitMnozstvi" />
              <xs:enumeration value="OdebratPolozku" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_NedostatecneMnozstviKVyrizeni_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_PridaniPolozkySDetailem">
    <xs:simpleContent>
      <xs:extension base="enum_PridaniPolozkySDetailem_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="StandardniChovani" />
              <xs:enumeration value="VybratDetail" />
              <xs:enumeration value="PridatMnozstvi" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_PridaniPolozkySDetailem_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_StavExportuIDoklad">
    <xs:simpleContent>
      <xs:extension base="enum_StavExportuIDoklad_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NebylaExportovana" />
              <xs:enumeration value="Exportovana" />
              <xs:enumeration value="PoExportuZmenena" />
              <xs:enumeration value="NelzeExportovat" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_StavExportuIDoklad_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypCeniku">
    <xs:simpleContent>
      <xs:extension base="enum_TypCeniku_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Odberatelsky" />
              <xs:enumeration value="Dodavatelsky" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypCeniku_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypCenyPolozkyCeniku">
    <xs:simpleContent>
      <xs:extension base="enum_TypCenyPolozkyCeniku_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BezDane" />
              <xs:enumeration value="SDani" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypCenyPolozkyCeniku_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypKontroly">
    <xs:simpleContent>
      <xs:extension base="enum_TypKontroly_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Nekontrolovat" />
              <xs:enumeration value="Upozornit" />
              <xs:enumeration value="Nepovolit" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypKontroly_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypUctu">
    <xs:simpleContent>
      <xs:extension base="enum_TypUctu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Aktivni" />
              <xs:enumeration value="Pasivni" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypUctu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypVychoziCeny">
    <xs:simpleContent>
      <xs:extension base="enum_TypVychoziCeny_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Neni" />
              <xs:enumeration value="Nakupni" />
              <xs:enumeration value="Skladova" />
              <xs:enumeration value="Cenikova" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypVychoziCeny_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypZmenyPohybu">
    <xs:simpleContent>
      <xs:extension base="enum_TypZmenyPohybu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Prepis" />
              <xs:enumeration value="Storno" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypZmenyPohybu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_VyberDodavky">
    <xs:simpleContent>
      <xs:extension base="enum_VyberDodavky_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NejnizsiDatum" />
              <xs:enumeration value="NejvyssiDatum" />
              <xs:enumeration value="DatumExspirace" />
              <xs:enumeration value="NejvyssiCena" />
              <xs:enumeration value="NejnizsiCena" />
              <xs:enumeration value="NejvyssiMnozstvi" />
              <xs:enumeration value="NejnizsiMnozstvi" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_VyberDodavky_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_VydejDoMinusu">
    <xs:simpleContent>
      <xs:extension base="enum_VydejDoMinusu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Nekontrolovat" />
              <xs:enumeration value="Upozornit" />
              <xs:enumeration value="Nepovolit" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_VydejDoMinusu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZdrojStrukturyCeniku">
    <xs:simpleContent>
      <xs:extension base="enum_ZdrojStrukturyCeniku_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="ZadnyZdroj" />
              <xs:enumeration value="Sklad" />
              <xs:enumeration value="Cenik" />
              <xs:enumeration value="Artikly" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZdrojStrukturyCeniku_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZpusobOcenovaniZasob">
    <xs:simpleContent>
      <xs:extension base="enum_ZpusobOcenovaniZasob_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FIFO" />
              <xs:enumeration value="VazenyPrumer" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZpusobOcenovaniZasob_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZpusobVypoctuBudouciCeny">
    <xs:simpleContent>
      <xs:extension base="enum_ZpusobVypoctuBudouciCeny_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BudoucíCena" />
              <xs:enumeration value="ProcentualniZmena" />
              <xs:enumeration value="ZmenaVMene" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZpusobVypoctuBudouciCeny_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZpusobVypoctuCeny">
    <xs:simpleContent>
      <xs:extension base="enum_ZpusobVypoctuCeny_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Nemenit" />
              <xs:enumeration value="Prirazka" />
              <xs:enumeration value="Srazka" />
              <xs:enumeration value="Nasobek" />
              <xs:enumeration value="Podil" />
              <xs:enumeration value="Rozdil" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZpusobVypoctuCeny_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="group">
    <xs:attribute name="ID" type="guid" use="required" />
    <xs:attribute name="Kod" type="string_20" />
  </xs:complexType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}(-[a-f0-9]{4}){3}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_50">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_unbounded">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>