xsd/SKDZasoby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="S5Data">
    <xs:complexType>
      <xs:all>
        <xs:element name="ZasobaList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Zasoba" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="AktualniStav_ID" type="guid" />
                    <xs:element name="Artikl_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="CanGetDataFromGroup" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="DruhArtiklu_ID" type="guid" />
                    <xs:element name="DruhKonta_ID" type="guid" />
                    <xs:element name="HistorickaCena" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="Jednotka_ID" type="guid" />
                    <xs:element name="Kod" type="string_60" />
                    <xs:element name="Nazev" type="emptiable_string_100" minOccurs="0" />
                    <xs:element name="Objednano" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="PosledniNakup" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="PosledniProdej" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="RadaObdobi_ID" type="guid" />
                    <xs:element name="Rezervovano" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="Sklad_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="SkladovaPozice_ID" type="guid" />
                    <xs:element name="Source_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="TypKonta" type="enum_TypUctu" minOccurs="0" />
                    <xs:element name="TypZmenyPohybu" type="enum_TypZmenyPohybu" minOccurs="0" />
                    <xs:element name="ZasobaObratova" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="ZasobaPojistna" type="emptiable_decimal_4" minOccurs="0" />
                    <xs:element name="NastaveniZasoby" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="NastaveniNedostatecneMnozstviKVyrizeni" type="enum_NedostatecneMnozstviKVyrizeni" minOccurs="0" />
                          <xs:element name="PoklesPodPojistnouZasobu" type="enum_TypKontroly" minOccurs="0" />
                          <xs:element name="PrekroceniObratoveZasoby" type="enum_TypKontroly" minOccurs="0" />
                          <xs:element name="PridaniPolozkySDetailem" type="enum_PridaniPolozkySDetailem" minOccurs="0" />
                          <xs:element name="VyberDodavky" type="enum_VyberDodavky" minOccurs="0" />
                          <xs:element name="VydejDoMinusu" type="enum_VydejDoMinusu" minOccurs="0" />
                          <xs:element name="VydejMnozstviKDispozici" type="enum_VydejDoMinusu" minOccurs="0" />
                          <xs:element name="ZpusobOcenovani" type="enum_ZpusobOcenovaniZasob" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AktualniStav" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="StavZasoby" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Artikl" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                          <xs:element name="Kod" type="string_60" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Artikl" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Cinnosti" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ArtiklCinnost" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Cinnost_ID" type="guid" />
                                <xs:element name="Poradi" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="Cinnost" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Cinnost" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="ArtiklCinnost" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="ArtiklCinnost" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Detaily" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ZasobaDetail" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="ZasobaDetail" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="ZasobaDetail" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhArtiklu" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhArtiklu" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhKonta" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhKonta" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Jednotka" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Jednotka" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Pohyby" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PohybZasoby" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="PohybZasoby" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="PohybZasoby" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="RadaObdobi" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="RadaObdobi" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Sklad" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                          <xs:element name="Kod" type="string_10" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Sklad" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SkladovaPozice" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="SkladovaPozice" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Stavy" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StavZasoby" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Konto_ID" type="guid" />
                                <xs:element name="Obdobi_ID" type="guid" />
                                <xs:element name="Odchylka" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Soucet" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="UzaverkaObdobi_ID" type="guid" />
                                <xs:element name="Obrat" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Pocatek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Prirustek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Ubytek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Zustatek" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="CelkovaCena" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="JednotkaCena" type="emptiable_decimal_4" minOccurs="0" />
                                      <xs:element name="Mnozstvi" type="emptiable_decimal_2" minOccurs="0" />
                                      <xs:element name="PocetJednotek" type="emptiable_decimal_2" minOccurs="0" />
                                    </xs:all>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Konto" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Konto" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Obdobi" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Obdobi" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="UzaverkaObdobi" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="UzaverkaObdobi" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="StavZasoby" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="StavZasoby" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="ObjectName" fixed="Zasoba" />
                  <xs:attribute name="ObjectType" fixed="Object" />
                  <xs:attribute name="ID" type="guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="bool">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_DateMin">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T00:00:00" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_2">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_4">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emptiable_bool">
    <xs:union memberTypes="bool empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_2">
    <xs:union memberTypes="decimal_2 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_4">
    <xs:union memberTypes="decimal_4 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_guid">
    <xs:union memberTypes="guid empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_integer">
    <xs:union memberTypes="xs:integer empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_100">
    <xs:union memberTypes="string_100 empty" />
  </xs:simpleType>
  <xs:simpleType name="empty">
    <xs:restriction base="xs:string">
      <xs:maxLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_NedostatecneMnozstviKVyrizeni">
    <xs:simpleContent>
      <xs:extension base="enum_NedostatecneMnozstviKVyrizeni_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="PonechatBezeZmeny" />
              <xs:enumeration value="SnizitMnozstvi" />
              <xs:enumeration value="OdebratPolozku" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_NedostatecneMnozstviKVyrizeni_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_PridaniPolozkySDetailem">
    <xs:simpleContent>
      <xs:extension base="enum_PridaniPolozkySDetailem_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="StandardniChovani" />
              <xs:enumeration value="VybratDetail" />
              <xs:enumeration value="PridatMnozstvi" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_PridaniPolozkySDetailem_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypKontroly">
    <xs:simpleContent>
      <xs:extension base="enum_TypKontroly_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Nekontrolovat" />
              <xs:enumeration value="Upozornit" />
              <xs:enumeration value="Nepovolit" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypKontroly_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypUctu">
    <xs:simpleContent>
      <xs:extension base="enum_TypUctu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Aktivni" />
              <xs:enumeration value="Pasivni" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypUctu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypZmenyPohybu">
    <xs:simpleContent>
      <xs:extension base="enum_TypZmenyPohybu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Prepis" />
              <xs:enumeration value="Storno" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypZmenyPohybu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_VyberDodavky">
    <xs:simpleContent>
      <xs:extension base="enum_VyberDodavky_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NejnizsiDatum" />
              <xs:enumeration value="NejvyssiDatum" />
              <xs:enumeration value="DatumExspirace" />
              <xs:enumeration value="NejvyssiCena" />
              <xs:enumeration value="NejnizsiCena" />
              <xs:enumeration value="NejvyssiMnozstvi" />
              <xs:enumeration value="NejnizsiMnozstvi" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_VyberDodavky_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
      <xs:enumeration value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_VydejDoMinusu">
    <xs:simpleContent>
      <xs:extension base="enum_VydejDoMinusu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Nekontrolovat" />
              <xs:enumeration value="Upozornit" />
              <xs:enumeration value="Nepovolit" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_VydejDoMinusu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZpusobOcenovaniZasob">
    <xs:simpleContent>
      <xs:extension base="enum_ZpusobOcenovaniZasob_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FIFO" />
              <xs:enumeration value="VazenyPrumer" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZpusobOcenovaniZasob_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="group">
    <xs:attribute name="ID" type="guid" use="required" />
    <xs:attribute name="Kod" type="string_20" />
  </xs:complexType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}(-[a-f0-9]{4}){3}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_60">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>