xsd/SL_Prodej.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="S5Data">
    <xs:complexType>
      <xs:all>
        <xs:element name="ProdejkaVydanaList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProdejkaVydana" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:all>
                    <xs:element name="Group" type="group" minOccurs="0" />
                    <xs:element name="AdresaKoncovehoPrijemceEmailSpojeni_ID" type="guid" />
                    <xs:element name="AdresaKoncovehoPrijemceKontaktniOsoba_ID" type="guid" />
                    <xs:element name="AdresaKoncovehoPrijemceStat_ID" type="guid" />
                    <xs:element name="AdresaKoncovehoPrijemceTelefonSpojeni_ID" type="guid" />
                    <xs:element name="AdresaKontaktniOsoba_ID" type="guid" />
                    <xs:element name="AdresaPrijemceFakturyKontaktniOsoba_ID" type="guid" />
                    <xs:element name="AdresaPrijemceFakturyStat_ID" type="guid" />
                    <xs:element name="AdresaStat_ID" type="guid" />
                    <xs:element name="CasSkladovehoPohybu" type="dateTime_Time" minOccurs="0" />
                    <xs:element name="CastkaKZaplaceni" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="CelkovaCastka" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="CelkovaCastkaCM" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="CelkovaCastkaDual" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="CelkovaPorizovaciCena" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="Cinnost_ID" type="guid" />
                    <xs:element name="CiselnaRada_ID" type="guid" />
                    <xs:element name="CisloDokladu" type="emptiable_string_15" minOccurs="0" />
                    <xs:element name="CisloRady" type="emptiable_integer" minOccurs="0" />
                    <xs:element name="DatumSchvaleni" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="DatumSkladovehoPohybu" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="DatumUcetnihoPripadu" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="DatumVystaveni" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="DatumZauctovani" type="dateTime_DateMin" minOccurs="0" />
                    <xs:element name="DIC" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="DodaciAdresaFirma_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="DodaciPodminky_ID" type="guid" />
                    <xs:element name="DodatecnePorizovaciNaklady" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="DomaciMena_ID" type="guid" />
                    <xs:element name="DruhDokladu_ID" type="guid" />
                    <xs:element name="DruhDopravy_ID" type="guid" />
                    <xs:element name="DruhPohybu_ID" type="guid" />
                    <xs:element name="DruhPohybuProZauctovaniTrzeb_ID" type="guid" />
                    <xs:element name="EETEvidovatTrzbu" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="EkasaUctenka_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="EvidovatNahradniPlneni" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="FakturacniAdresaFirma_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="Faze" type="enum_FazeDokladu" minOccurs="0" />
                    <xs:element name="Firma_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="IC" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="ICDPH" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="IDKrajPuvodu_ID" type="guid" />
                    <xs:element name="iDokladAgendaID" type="emptiable_integer" minOccurs="0" />
                    <xs:element name="iDokladID" type="emptiable_integer" minOccurs="0" />
                    <xs:element name="IDPovahaTransakce_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="JednotkovaPorizovaciCena" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="Jmeno" type="emptiable_string_100" minOccurs="0" />
                    <xs:element name="KodTransakce" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="KonecnyPrijemce_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="KorekceEditovatDomaciMenuBezPrepoctu" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Mena_ID" type="guid" />
                    <xs:element name="MojeFirma_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="MojeFirmaBanka_ID" type="guid" />
                    <xs:element name="MojeFirmaBankovniSpojeni_ID" type="guid" />
                    <xs:element name="MojeFirmaFirma_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="MojeFirmaKontaktniOsoba_ID" type="guid" />
                    <xs:element name="MojeFirmaStat_ID" type="guid" />
                    <xs:element name="NahradniPlneni" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="Nazev" type="emptiable_string_200" minOccurs="0" />
                    <xs:element name="NepenezniPlatbySuma" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="ObecneProdejniMisto_ID" type="guid" />
                    <xs:element name="Obchodnik_ID" type="guid" />
                    <xs:element name="Odkaz" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="Osoba_ID" type="guid" />
                    <xs:element name="ParovaciSymbol" type="string_50" />
                    <xs:element name="PlatbaHotoveZmenena" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="PlatbaHotovost" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="PocetPolozek" type="emptiable_integer" minOccurs="0" />
                    <xs:element name="PovahaTransakce_ID" type="guid" />
                    <xs:element name="Poznamka" type="emptiable_string_unbounded" minOccurs="0" />
                    <xs:element name="Predkontace_ID" type="guid" />
                    <xs:element name="PredkontaceZaokrouhleni_ID" type="guid" />
                    <xs:element name="PrijemceFaktury_ID" type="emptiable_guid" minOccurs="0" />
                    <xs:element name="PriznakVyrizeno" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="ProcentniZisk" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="RegistraceDPH_ID" type="guid" />
                    <xs:element name="SazbaDPH0_ID" type="guid" />
                    <xs:element name="SazbaDPH1_ID" type="guid" />
                    <xs:element name="SazbaDPH2_ID" type="guid" />
                    <xs:element name="Schvaleno" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Schvalil_ID" type="guid" />
                    <xs:element name="Sleva" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="Stat_ID" type="guid" />
                    <xs:element name="StatPuvodu_ID" type="guid" />
                    <xs:element name="StatUrceniOdeslani_ID" type="guid" />
                    <xs:element name="Stav" type="enum_StavDokladu" minOccurs="0" />
                    <xs:element name="Storno" type="enum_StornoStavDokladu" minOccurs="0" />
                    <xs:element name="Stredisko_ID" type="guid" />
                    <xs:element name="Systemovy" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="TypDokladu" type="enum_TypDokladu" minOccurs="0" />
                    <xs:element name="UcetDal_ID" type="guid" />
                    <xs:element name="UcetMD_ID" type="guid" />
                    <xs:element name="VariabilniSymbol" type="emptiable_string_20" minOccurs="0" />
                    <xs:element name="Vyrizeno" type="emptiable_integer" minOccurs="0" />
                    <xs:element name="Vystavil" type="emptiable_string_100" minOccurs="0" />
                    <xs:element name="Zakazka_ID" type="guid" />
                    <xs:element name="ZaokrouhleniCelkovaCastka_ID" type="guid" />
                    <xs:element name="ZaokrouhleniDPH_ID" type="guid" />
                    <xs:element name="ZaokrouhleniSazbaDPH_ID" type="guid" />
                    <xs:element name="ZapornyPohyb" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Zauctoval_ID" type="guid" />
                    <xs:element name="ZauctovaniZpracovano" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Zauctovano" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="Zaverkovy" type="emptiable_bool" minOccurs="0" />
                    <xs:element name="ZbyvaVratit" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="ZiskZaDoklad" type="emptiable_decimal_2" minOccurs="0" />
                    <xs:element name="ZpusobDopravy_ID" type="guid" />
                    <xs:element name="ZpusobPlatby_ID" type="guid" />
                    <xs:element name="ZpusobVypoctuDPH" type="enum_ZpusobVypoctuDPH" minOccurs="0" />
                    <xs:element name="ZvlastniPohyb_ID" type="guid" />
                    <xs:element name="Adresa" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="KontaktniOsobaJmeno" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="KontaktniOsobaNazev" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="KontaktniOsobaPrijmeni" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Misto" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Nazev" type="emptiable_string_200" minOccurs="0" />
                          <xs:element name="PSC" type="emptiable_string_10" minOccurs="0" />
                          <xs:element name="Stat" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Ulice" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="AdresaStat" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Firma" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_20" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Firma" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="KontaktniOsoba" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Osoba" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdresaKoncovehoPrijemce" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Email" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="KontaktniOsobaNazev" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Misto" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Nazev" type="emptiable_string_200" minOccurs="0" />
                          <xs:element name="PSC" type="emptiable_string_10" minOccurs="0" />
                          <xs:element name="Stat" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Telefon" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Ulice" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="AdresaStat" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="EmailSpojeni" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Spojeni" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Firma" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_20" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Firma" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="KontaktniOsoba" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Osoba" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="TelefonSpojeni" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Spojeni" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="AdresaPrijemceFaktury" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="KontaktniOsobaNazev" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Misto" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Nazev" type="emptiable_string_200" minOccurs="0" />
                          <xs:element name="PSC" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Stat" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Ulice" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="AdresaStat" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Firma" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_20" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Firma" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="KontaktniOsoba" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Osoba" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DPH0" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DPH1" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DPH2" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="IntrastatDoklad" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Datum" type="dateTime_DateMin" minOccurs="0" />
                          <xs:element name="DopravaTuzemsko" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DopravaZahranici" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DopravniNaklady" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="OvlivnujeIntrastat" type="emptiable_bool" minOccurs="0" />
                          <xs:element name="RozpousteniNakladu" type="enum_RozpoustetNakladyDle" minOccurs="0" />
                          <xs:element name="DodaciPodminky" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="DodaciPodminky" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DruhDopravy" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="DruhDopravy" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="KrajPuvodu" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Kraj" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="PovahaTransakce" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="IntrastatPovahaTransakce" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="StatPuvodu" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="StatUrceniOdeslani" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="ZvlastniPohyb" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="IntrastatZvlastniPohyb" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Korekce0" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Korekce1" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Korekce2" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Sazba" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="MojeFirma" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="DIC" type="emptiable_string_20" minOccurs="0" />
                          <xs:element name="IC" type="emptiable_string_20" minOccurs="0" />
                          <xs:element name="ICDPH" type="emptiable_string_20" minOccurs="0" />
                          <xs:element name="Misto" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="Nazev" type="emptiable_string_200" minOccurs="0" />
                          <xs:element name="PSC" type="emptiable_string_10" minOccurs="0" />
                          <xs:element name="Stat" type="emptiable_string_50" minOccurs="0" />
                          <xs:element name="Ulice" type="emptiable_string_100" minOccurs="0" />
                          <xs:element name="BankovniSpojeni" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="CiselnyKod" type="emptiable_string_10" minOccurs="0" />
                                <xs:element name="CisloUctu" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="IBAN" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="SpecifickySymbol" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="SWIFT" type="emptiable_string_11" minOccurs="0" />
                                <xs:element name="Banka" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Group" type="group" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="ObjectName" fixed="Banka" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="BankovniSpojeni" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="BankovniSpojeni" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Kontakty" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Email" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="Telefon1" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="Telefon2" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="Telefon3" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="WWW" type="emptiable_string_100" minOccurs="0" />
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Osoba" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Jmeno" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="Nazev" type="emptiable_string_100" minOccurs="0" />
                                <xs:element name="Prijmeni" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="Osoba" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Group" type="group" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="ObjectName" fixed="Osoba" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Firma" minOccurs="0">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Group" type="group" minOccurs="0" />
                                <xs:element name="Kod" type="string_20" />
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="Firma" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="MojeFirmaStat" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Stat" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suma" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Celkem" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="CelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Dan" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="DanCM" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                          <xs:element name="ZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Text" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="PredPolozkami" type="emptiable_string_unbounded" minOccurs="0" />
                          <xs:element name="ZaPolozkami" type="emptiable_string_unbounded" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UcetniKurz" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Kurz" type="emptiable_decimal_6" minOccurs="0" />
                          <xs:element name="Mnozstvi" type="emptiable_decimal_6" minOccurs="0" />
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Zaokrouhleni" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="DruhSazbyDPH" type="enum_DruhSazbyDPH" minOccurs="0" />
                          <xs:element name="PrevazujiciSazbaDPH" type="emptiable_bool" minOccurs="0" />
                          <xs:element name="CelkovaCastka" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Zaokrouhleni" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DPH" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="Zaokrouhleni" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="SazbaDPH" minOccurs="0">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="SazbaDPH" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:all>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DetailniRozpisDPH" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DetailniRozpisDPH" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="CleneniDPH_ID" type="guid" />
                                <xs:element name="KombinovanaNomenklatura_ID" type="guid" />
                                <xs:element name="KorekceCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="KorekceCelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="KorekceDPH" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="KorekceDPHCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="KorekceZaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="KorekceZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Kurz" type="emptiable_decimal_6" minOccurs="0" />
                                <xs:element name="KurzMnozstvi" type="emptiable_decimal_6" minOccurs="0" />
                                <xs:element name="Mena_ID" type="guid" />
                                <xs:element name="MenaJeCM" type="emptiable_bool" minOccurs="0" />
                                <xs:element name="PolozkyCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PolozkyCelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PolozkyDPH" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PolozkyDPHCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PolozkyZaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PolozkyZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PreneseniDanovePovinnosti_ID" type="guid" />
                                <xs:element name="SazbaDPH_ID" type="guid" />
                                <xs:element name="SumaCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="SumaCelkemCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="SumaDPH" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="SumaDPHCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="SumaZaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="SumaZakladCM" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Zdroj" type="enum_DetailniRozpisDPHZdroj" minOccurs="0" />
                                <xs:element name="CleneniDPH" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="CleneniDPH" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="KombinovanaNomenklatura" minOccurs="0">
                                  <xs:complexType>
                                    <xs:all>
                                      <xs:element name="Group" type="group" minOccurs="0" />
                                    </xs:all>
                                    <xs:attribute name="ObjectName" fixed="KombinovanaNomenklatura" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="Mena" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="Mena" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PreneseniDanovePovinnosti" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="PreneseniDanovePovinnosti" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="SazbaDPH" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="SazbaDPH" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="DetailniRozpisDPH" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="DetailniRozpisDPH" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhPohybu" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhPohybuZasoby" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="DruhPohybuProZauctovaniTrzeb" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="DruhPohybuZasoby" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="EETUctenky" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="EETUctenka" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="BKP" type="emptiable_string_44" minOccurs="0" />
                                <xs:element name="CelkovaCastkaTrzby" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="CertifikatDescription" type="emptiable_string_50" minOccurs="0" />
                                <xs:element name="CertifikatID" type="emptiable_guid" minOccurs="0" />
                                <xs:element name="CertifikatSerialNumber" type="emptiable_string_20" minOccurs="0" />
                                <xs:element name="CestovniSluzbaCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="CisloDokladu" type="emptiable_string_15" minOccurs="0" />
                                <xs:element name="DatovaZpravaXML" type="emptiable_string_unbounded" minOccurs="0" />
                                <xs:element name="DatumCasOdeslaniZpravy" type="dateTime_DateTimeMin" minOccurs="0" />
                                <xs:element name="DatumCasPrijetiPotvrzeni" type="dateTime_DateTimeMin" minOccurs="0" />
                                <xs:element name="DatumCasPrijetiTrzby" type="dateTime_DateTimeMin" minOccurs="0" />
                                <xs:element name="DICPoplatnika" type="emptiable_string_20" minOccurs="0" />
                                <xs:element name="Dph0Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph1DruhaDan" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph1DruhaZaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph1PrvniDan" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph1PrvniZaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph2Dan" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Dph2Zaklad" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="DruhDokladuID" type="guid" />
                                <xs:element name="EvidovatTrzbuImport" type="enum_EETEvidovatTrzbuImport" minOccurs="0" />
                                <xs:element name="FIK" type="emptiable_string_39" minOccurs="0" />
                                <xs:element name="iDokladAgendaID" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="iDokladID" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="ObecneProdejniMistoID" type="guid" />
                                <xs:element name="OznaceniPokladnihoZarizeni" type="emptiable_string_20" minOccurs="0" />
                                <xs:element name="OznaceniProvozovny" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="PKP" type="emptiable_string_344" minOccurs="0" />
                                <xs:element name="PocetOdeslani" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="PoradoveCisloImport" type="emptiable_string_25" minOccurs="0" />
                                <xs:element name="PoradoveCisloUctenky" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="PoradoveCisloUnique" type="emptiable_integer" minOccurs="0" />
                                <xs:element name="PouziteZboziDph1DruhaCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PouziteZboziDph1PrvniCelkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PouziteZboziDph2Celkem" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="PrvniZaslaniUdajuOTrzbe" type="emptiable_bool" minOccurs="0" />
                                <xs:element name="RezimTrzby" type="enum_EETRezimTrzby" minOccurs="0" />
                                <xs:element name="StavEvidence" type="enum_StavEvidenceEET" minOccurs="0" />
                                <xs:element name="StornovanaUctenkaID" type="guid" />
                                <xs:element name="UUID" type="emptiable_guid" minOccurs="0" />
                                <xs:element name="DruhDokladu" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="DruhDokladu" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="ObecneProdejniMisto" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="ObecneProdejniMisto" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="StornovanaUctenka" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="EETUctenka" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="EETUctenka" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="EETUctenka" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="KonecnyPrijemce" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                          <xs:element name="Kod" type="string_20" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Firma" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="NepenezniPlatby" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PlatbaProdejkyVydane" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Castka" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Kurz" type="emptiable_decimal_6" minOccurs="0" />
                                <xs:element name="Mnozstvi" type="emptiable_decimal_6" minOccurs="0" />
                                <xs:element name="Platidlo_ID" type="guid" />
                                <xs:element name="Pocet" type="emptiable_decimal_2" minOccurs="0" />
                                <xs:element name="Platidlo" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="NepenezniPlatidlo" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="PlatbaProdejkyVydane" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="PlatbaProdejkyVydane" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ObecneProdejniMisto" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="ObecneProdejniMisto" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Predkontace" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Predkontace" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PredkontaceZaokrouhleni" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Predkontace" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="PrijemceFaktury" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                          <xs:element name="Kod" type="string_20" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Firma" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SazbyDPHNaDoklade" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="SazbaDPHNaDoklade" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:all>
                                <xs:element name="Aktivni" type="emptiable_bool" minOccurs="0" />
                                <xs:element name="DruhSazby" type="enum_DruhSazbyDPH" minOccurs="0" />
                                <xs:element name="Pouzita" type="emptiable_bool" minOccurs="0" />
                                <xs:element name="RozpisDPH_ID" type="emptiable_guid" minOccurs="0" />
                                <xs:element name="SazbaDPH_ID" type="guid" />
                                <xs:element name="VybranaNaHlavicce" type="emptiable_bool" minOccurs="0" />
                                <xs:element name="SazbaDPH" minOccurs="0">
                                  <xs:complexType>
                                    <xs:attribute name="ObjectName" fixed="SazbaDPH" />
                                    <xs:attribute name="ObjectType" fixed="Object" />
                                    <xs:attribute name="ID" type="guid" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:all>
                              <xs:attribute name="ObjectName" fixed="SazbaDPHNaDoklade" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="SazbaDPHNaDoklade" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="SeznamPOSAExchange" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="POSAExchange" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="POSAExchange" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="POSAExchange" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UcetDal" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Ucet" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UcetMD" minOccurs="0">
                      <xs:complexType>
                        <xs:all>
                          <xs:element name="Group" type="group" minOccurs="0" />
                        </xs:all>
                        <xs:attribute name="ObjectName" fixed="Ucet" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="UcetniZapisy" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="UcetniZapis" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="ObjectName" fixed="UcetniZapis" />
                              <xs:attribute name="ObjectType" fixed="Object" />
                              <xs:attribute name="ID" type="guid" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ObjectName" fixed="UcetniZapis" />
                        <xs:attribute name="ObjectType" fixed="List" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ZpusobDopravy" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="ZpusobDopravy" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ZpusobPlatby" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="ObjectName" fixed="ZpusobPlatby" />
                        <xs:attribute name="ObjectType" fixed="Object" />
                        <xs:attribute name="ID" type="guid" />
                      </xs:complexType>
                    </xs:element>
                  </xs:all>
                  <xs:attribute name="ObjectName" fixed="ProdejkaVydana" />
                  <xs:attribute name="ObjectType" fixed="Object" />
                  <xs:attribute name="ID" type="guid" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="bool">
    <xs:restriction base="xs:string">
      <xs:enumeration value="True" />
      <xs:enumeration value="False" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_DateMin">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T00:00:00" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_DateTimeMin">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dateTime_Time">
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="1754-01-01T[0-9]{2}:[0-9]{2}:[0-9]{2}" />
      <xs:minInclusive value="1753-01-01T00:00:00" />
      <xs:maxInclusive value="9998-12-31T00:00:00" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_2">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="decimal_6">
    <xs:restriction base="xs:decimal">
      <xs:fractionDigits value="6" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="emptiable_bool">
    <xs:union memberTypes="bool empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_2">
    <xs:union memberTypes="decimal_2 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_decimal_6">
    <xs:union memberTypes="decimal_6 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_guid">
    <xs:union memberTypes="guid empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_integer">
    <xs:union memberTypes="xs:integer empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_10">
    <xs:union memberTypes="string_10 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_100">
    <xs:union memberTypes="string_100 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_11">
    <xs:union memberTypes="string_11 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_15">
    <xs:union memberTypes="string_15 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_20">
    <xs:union memberTypes="string_20 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_200">
    <xs:union memberTypes="string_200 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_25">
    <xs:union memberTypes="string_25 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_344">
    <xs:union memberTypes="string_344 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_39">
    <xs:union memberTypes="string_39 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_44">
    <xs:union memberTypes="string_44 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_50">
    <xs:union memberTypes="string_50 empty" />
  </xs:simpleType>
  <xs:simpleType name="emptiable_string_unbounded">
    <xs:union memberTypes="string_unbounded empty" />
  </xs:simpleType>
  <xs:simpleType name="empty">
    <xs:restriction base="xs:string">
      <xs:maxLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_DetailniRozpisDPHZdroj">
    <xs:simpleContent>
      <xs:extension base="enum_DetailniRozpisDPHZdroj_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Polozka" />
              <xs:enumeration value="Korekce" />
              <xs:enumeration value="Uhrada" />
              <xs:enumeration value="Zaloha" />
              <xs:enumeration value="OdpocetZalohy" />
              <xs:enumeration value="Hlavicka" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_DetailniRozpisDPHZdroj_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
      <xs:enumeration value="4" />
      <xs:enumeration value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_DruhSazbyDPH">
    <xs:simpleContent>
      <xs:extension base="enum_DruhSazbyDPH_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Snizena" />
              <xs:enumeration value="Zakladni" />
              <xs:enumeration value="Nulova" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_DruhSazbyDPH_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_EETEvidovatTrzbuImport">
    <xs:simpleContent>
      <xs:extension base="enum_EETEvidovatTrzbuImport_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Neevidovat" />
              <xs:enumeration value="Evidovat" />
              <xs:enumeration value="EvidovatPriImportu" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_EETEvidovatTrzbuImport_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_EETRezimTrzby">
    <xs:simpleContent>
      <xs:extension base="enum_EETRezimTrzby_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Bezny" />
              <xs:enumeration value="Zjednoduseny" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_EETRezimTrzby_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_FazeDokladu">
    <xs:simpleContent>
      <xs:extension base="enum_FazeDokladu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Rozpracovano" />
              <xs:enumeration value="Aktivni" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_FazeDokladu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_RozpoustetNakladyDle">
    <xs:simpleContent>
      <xs:extension base="enum_RozpoustetNakladyDle_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CenaZbozi" />
              <xs:enumeration value="HmotnostZbozi" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_RozpoustetNakladyDle_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_StavDokladu">
    <xs:simpleContent>
      <xs:extension base="enum_StavDokladu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Rozpracovano" />
              <xs:enumeration value="Dokonceno" />
              <xs:enumeration value="Uzamceno" />
              <xs:enumeration value="Smazano" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_StavDokladu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_StavEvidenceEET">
    <xs:simpleContent>
      <xs:extension base="enum_StavEvidenceEET_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Neevidovano" />
              <xs:enumeration value="Chyba" />
              <xs:enumeration value="Evidovano" />
              <xs:enumeration value="OdesilaSe" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_StavEvidenceEET_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
      <xs:enumeration value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_StornoStavDokladu">
    <xs:simpleContent>
      <xs:extension base="enum_StornoStavDokladu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="NeniStorno" />
              <xs:enumeration value="Stornovany" />
              <xs:enumeration value="Stornujici" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_StornoStavDokladu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_TypDokladu">
    <xs:simpleContent>
      <xs:extension base="enum_TypDokladu_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Neurceny" />
              <xs:enumeration value="Prijaty" />
              <xs:enumeration value="Vydany" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_TypDokladu_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="enum_ZpusobVypoctuDPH">
    <xs:simpleContent>
      <xs:extension base="enum_ZpusobVypoctuDPH_value">
        <xs:attribute name="EnumValueName">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Matematicky" />
              <xs:enumeration value="PomociKoeficientu" />
              <xs:enumeration value="Neurceno" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="enum_ZpusobVypoctuDPH_value">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="0" />
      <xs:enumeration value="1" />
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="group">
    <xs:attribute name="ID" type="guid" use="required" />
    <xs:attribute name="Kod" type="string_20" />
  </xs:complexType>
  <xs:simpleType name="guid">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}(-[a-f0-9]{4}){3}-[a-f0-9]{12}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_10">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_100">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_11">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="11" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_15">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="15" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_200">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="200" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_25">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_344">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="344" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_39">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="39" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_44">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="44" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_50">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string_unbounded">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>